// 颜色相关
$blue: #1991ff;
$green: #21bb7e;
$orange: #ff8000;
$red: #ff5656;
$black: #1a1a1a; // 默认字体色
$gray: #dadce1; // 边框、底色、未选中
$darkGray: #4e4e4e; // 辅助性描述

// 字体尺寸相关
$large: 20px;
$medium: 16px;
$small: 14px;
$mini: 12px;